html{    
    font-family: 'Open Sans', sans-serif;
    color: black;
    overflow-x: hidden;
    font-weight: 600;
}
.content{
    min-height: 100vh;
}
.extra-bold{
    font-weight: 800;
}
.bold{
    font-weight: 700;
}
.regular{
    font-weight: 400;
}
.mb-24{
    margin-bottom: 24px;
}
.mr-24{
    margin-right: 24px;
}
.bg-dark-blue{
    background-color: #33384E;
}
.bg-orange{
    background-color: #DDA18C;
}
.bg-light-orange{
    color:white;
    background-color: #DDA18C;
}
.bg-dark-orange{
    background-color: #D65A40;
}
.bg-light-orange:hover, .bg-light-orange:active{
    color:white;
    background-color: #D65A40;
}
.br-15{
    border-radius: 15px;
}
.br-10{
    border-radius: 10px;
}
.txt-white {
    color: white;
}
.txt-white:hover, .txt-white:active{
    color: #D65A40;
}
.grey{
    color: #9D9493;
}
a, a:hover{
    text-decoration: none;
    color: white;
}
a:active{
    color: #D65A40;
}
.nav-shadow{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index : 10000;
    position: absolute;
}
.f-36{
    font-size: 36px;
}
.f-24{
    font-size: 24px;
}